<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 9</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Biodata Kelompok 9</h1>
        
        <div class="member-grid">
            <div class="member-card">
                <img src="/static/img/yoyos.jpg" alt="Foto Profil" class="profile-img">
                <div class="member-info">
                    <h2 class="member-name">Yosafat Wahyono</h2>
                    <div class="member-nim">NIM: 22.83.0855</div>
                    <div class="education">
                        <p>Teknik Komputer</p>
                        <p>Universitas Amikom Yogyakarta</p>
                        <p>Saya ganteng maksimal dan saya adalah orang yg jujur dan berani serta berbudi luhu</p>
                    </div>
                    <div class="bio">
                <!--bio-->
                    </div>
                </div>
            </div>

            <div class="member-card">
                <img src="/static/img/maftukh.jpg" alt="Foto Profil" class="profile-img">
                <div class="member-info">
                    <h2 class="member-name">Maftukh Zaki Mubarok</h2>
                    <div class="member-nim">NIM: 22.83.0872</div>
                    <div class="education">
                        <p>Teknik Komputer</p>
                        <p>Universitas Amikom Yogyakarta</p>
                        <p>Saya adalah anomali yang entitas nya tidak di ketahui banyak orang</p>
                    </div>
                    <div class="bio">
                <!--bio-->
                    </div>
                </div>
            </div>

            <div class="member-card">
                <img src="/static/img/fiqri.jpg" alt="Foto Profil" class="profile-img">
                <div class="member-info">
                    <h2 class="member-name">Fiqri Andrian Julianto</h2>
                    <div class="member-nim">NIM: 22.83.0830</div>
                    <div class="education">
                        <p>Teknik Komputer</p>
                        <p>Universitas Amikom Yogyakarta</p>
                        <p>Saya manusia biasa, makan nasi <br>kata mamah gk boleh nakal</p>
                    </div>
                    <div class="bio">
                <!--bio-->
                    </div>
                </div>
            </div>

            <div class="member-card">
                <img src="/static/img/fatihul.jpg" alt="Foto Profil" class="profile-img">
                <div class="member-info">
                    <h2 class="member-name">Fatihul Faqih Hudzayfah</h2>
                    <div class="member-nim">NIM: 22.83.0848</div>
                    <div class="education">
                        <p>Teknik Komputer</p>
                        <p>Universitas Amikom Yogyakarta</p>
                        <p>saya adalah anomaly yang berusaha mencapai impian orang tua</p>
                    </div>
                    <div class="bio">
                <!--bio-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>